<!-- ko if: products().length > 0 -->
    <!-- ko foreach: products -->
    <tr class="excl">
        <td class="image">
            <span class="price">
                 <img data-bind="attr: {src: $data.thumbnail, alt: $data.name}" alt="" src="">
            </span>
        </td>
        <td class="sku">
            <span data-bind="text: $data.sku"></span>
        </td>
        <td class="name">
            <span data-bind="html: $data.name"></span>
        </td>
        <td class="qty">
            <span class="qty" data-bind="text: $data.qty"></span>
        </td>
        <td class="price">
            <span data-bind="html: $data.price"></span>
        </td>
        <td class="action">
            <span class="action">
                <a href="#" target="_blank" data-bind="attr: {href: $data.product_url, title: $data.name}">
                    <span data-bind="text: 'View'"></span>
                </a>
            </span>
        </td>
    </tr>
    <!-- /ko -->
    <!-- ko if: products().length === 0 -->
     <tr>
         <td colspan="6">The current search filters does not return any results.</td>
     </tr>

    <!-- /ko -->
<!-- /ko -->

