<?php
use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

/** @var Escaper $escaper */
/** @var Template $block */
?>

<div class="block">
    <div class="block-title">
        <strong><?= /* @escapeNotVerified */__('Matching Products') ?></strong>
    </div>
    <div class="table-wrapper" data-role="content" id="products-in-range" data-bind="scope: 'productsInRange'">
        <table class="data table history">
            <thead>
            <tr>
                <th scope="col" class="col thumbnail-preview-image"></th>
                <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('SKU') ?></th>
                <th scope="col" class="col description"><?= /* @escapeNotVerified */ __('Name') ?></th>
                <th scope="col" class="col "><?= /* @escapeNotVerified */ __('QTY') ?></th>
                <th scope="col" class="col "><?= /* @escapeNotVerified */ __('Price') ?></th>
                <th scope="col" class="col action"></th>
            </tr>
            </thead>
            <tbody>
                <!-- ko template: getTemplate() --><!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#products-in-range": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "productsInRange": {
                        "component": "BruceCubit_ProductsInRange/js/view/product/grid/index"
                    }
                }
            }
        }
    }
</script>
