<?php
use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;

/** @var Escaper $escaper */
/** @var Template $block */
?>
<div class="block" id="products-in-range-filter" data-bind="scope: 'productsInRangeFilter'">
    <!-- ko if: isVisible -->
    <form class="form" id="products-in-range-form" name="product_filter" data-bind="submit: beforeSearch.bind($data), mageInit: {'validation': {}}">
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $escaper->escapeHtml(__('Product Filter Options')) ?></span></legend><br>
            <div class="field required">
                <label for="lowest" class="label"><span><?= $escaper->escapeHtml(__('Lowest Product Price')) ?></span></label>
                <input type="number" name="lowest" id="lowest" title="<?= $escaper->escapeHtmlAttr(__('Lowest Product Price')) ?>"
                       class="text validate required"
                       data-validate="{ required:true, number:true, 'validate-greater-than-zero':true}" data-bind="value: minPrice">
            </div>
            <div class="field required">
                <label for="highest" class="label"><span><?= $escaper->escapeHtml(__('Highest Product Price')) ?></span></label>
                <input type="number" name="highest" id="highest" title="<?= $escaper->escapeHtmlAttr(__('Highest Product Price')) ?>"
                       data-validate="{ required:true, number:true,  'validate-products-in-range-max': '#lowest'}"
                       data-msg-validate-products-in-range-max="Enter a value between ."
                       data-bind="value: maxPrice" class="text">
            </div>
            <div class="field">
                <label for="sort" class="label"><span><?= $escaper->escapeHtml(__('Sort Products By')) ?></span></label>
                <select name="sort_order" id="sort" title="<?= $escaper->escapeHtmlAttr(__('Product Sort Order')) ?>" data-bind="options: sortOrders,
                       optionsText: 'text',
                       optionsValue: 'value',
                       value: selectedSortOrder">
                </select>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" title="<?= $escaper->escapeHtmlAttr(__('Search')) ?>" class="action save primary">
                    <span><?= $escaper->escapeHtml(__('Search')) ?></span>
                </button>
            </div>
        </div>
    </form>
    <!-- /ko -->
    <div class="actions-toolbar" data-bind="visible: showClearBtn" style="display: none;">
        <div class="secondary">
            <button type="button" title="<?= $escaper->escapeHtmlAttr(__('Clear')) ?>" class="action save primary" data-bind="click: reset.bind($data)">
                <span><?= $escaper->escapeHtml(__('Clear')) ?></span>
            </button>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "#products-in-range-filter": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "productsInRangeFilter": {
                        "component": "BruceCubit_ProductsInRange/js/view/product/form/filter",
                        "fetchUrl": "<?= $block->getUrl('pir/ajax/fetch')?>"
                    }
                }
            }
        }
    }
</script>
